target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/out/artifacts/Tomcat/WEB-INF/lib/jakarta.servlet-api-6.0.0.jar
/out/artifacts/Tomcat/WEB-INF/lib/lombok-1.18.30.jar
/out/artifacts/Tomcat/WEB-INF/lib/micrometer-commons-1.12.1.jar
/out/artifacts/Tomcat/WEB-INF/lib/micrometer-observation-1.12.1.jar
/out/artifacts/Tomcat/WEB-INF/lib/spring-aop-6.1.2.jar
/out/artifacts/Tomcat/WEB-INF/lib/spring-beans-6.1.2.jar
/out/artifacts/Tomcat/WEB-INF/lib/spring-context-6.1.2.jar
/out/artifacts/Tomcat/WEB-INF/lib/spring-core-6.1.2.jar
/out/artifacts/Tomcat/WEB-INF/lib/spring-expression-6.1.2.jar
/out/artifacts/Tomcat/WEB-INF/lib/spring-jcl-6.1.2.jar
/out/artifacts/Tomcat/WEB-INF/lib/spring-web-6.1.2.jar
/out/artifacts/Tomcat/WEB-INF/lib/spring-webmvc-6.1.2.jar
/out/artifacts/Tomcat/WEB-INF/classes/org/example/domain/Todo$TodoBuilder.class
/out/artifacts/Tomcat/WEB-INF/classes/org/example/domain/Todo.class
/out/artifacts/Tomcat/WEB-INF/classes/org/example/controller/TodoController.class
/out/artifacts/Tomcat/WEB-INF/classes/org/example/config/DispatcherServletInitializer.class
/out/artifacts/Tomcat/WEB-INF/classes/org/example/config/WebMvcConfiguration.class
/out/artifacts/Tomcat/WEB-INF/lib/attoparser-2.0.7.RELEASE.jar
/out/artifacts/Tomcat/WEB-INF/classes/templates/index.html
/out/artifacts/Tomcat/WEB-INF/lib/javassist-3.29.0-GA.jar
/out/artifacts/Tomcat/WEB-INF/lib/ognl-3.3.4.jar
/out/artifacts/Tomcat/WEB-INF/lib/slf4j-api-2.0.7.jar
/out/artifacts/Tomcat/WEB-INF/lib/thymeleaf-3.1.2.RELEASE.jar
/out/artifacts/Tomcat/WEB-INF/lib/thymeleaf-spring6-3.1.2.RELEASE.jar
/out/artifacts/Tomcat/WEB-INF/lib/unbescape-1.1.6.RELEASE.jar
/out/artifacts/Tomcat/WEB-INF/classes/templates/fragments.html
/out/artifacts/Tomcat/WEB-INF/classes/templates/todo_add.html
/out/artifacts/Tomcat/WEB-INF/classes/templates/todo_edit.html
/out/artifacts/Tomcat/WEB-INF/classes/org/example/dto/TodoDto.class
/out/artifacts/Tomcat/WEB-INF/classes/templates/todos.html
/out/artifacts/Tomcat/WEB-INF/classes/datasource.properties
/out/artifacts/Tomcat/WEB-INF/classes/ioc-datasource.xml
/out/artifacts/Tomcat/WEB-INF/classes/templates/todo_delete.html
/out/artifacts/Tomcat/WEB-INF/classes/org/example/rowmapper/TodoRowMapper.class
/out/artifacts/Tomcat/WEB-INF/lib/checker-qual-3.31.0.jar
/out/artifacts/Tomcat/WEB-INF/lib/postgresql-42.6.0.jar
/out/artifacts/Tomcat/WEB-INF/lib/spring-jdbc-6.1.2.jar
/out/artifacts/Tomcat/WEB-INF/lib/spring-tx-6.1.2.jar
/out/artifacts/Tomcat/WEB-INF/classes/org/example/dao/TodoDao.class
